main {
  background-color: #fff;
  max-width: 1310px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 70px;
  margin-top: 50px;
}

body {
  background: #f4f5f6;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

nav {
  color: white;
  z-index: 1;
  background: red;
  width: 100%;
  margin: 0 auto;
  max-width: 1310px;
  font-size: 18px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.bars {
  font-size: 1.8em;
}

.visible {
  visibility: visible;
}

.btn2 {
  background: white;
  color: red;
}

.allo {
  margin-top: 30px;
}

.nabvarr {
  display: flex;
  justify-content: space-around;
}

.img-hidden {
  width: 1px;
}

@media only screen and (max-width: 990px) {
  .navigation2 {
    visibility: hidden;
    height: 1;
  }

  .image12 {
    width: 0;
  }

  .hidden {
    visibility: visible;
  }

  .visible {
    visibility: hidden;
    height: 0;
    z-index: -2;
  }

  .visible img {
    height: 0;
  }

  .allo {
    visibility: hidden;
    height: 0;
  }

  .img-hidden {
    margin-top: 10px;
    width: 200px;
  }

  nav {
    height: 50px;
  }
}

.navigation2 {
  background: white;
  display: flex;
  justify-content: center;
  z-index: 13;
  max-width: 1310px;
  margin: 0 auto;
  color: black;
}

.navigation2 input {
  height: 30px;
  width: 150px;
}

.navigation2 span {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-right: solid 1px rgba(0, 0, 0, 0.3);
  padding-left: 1.3%;
  padding-right: 1.3%;
}

.image-article {
  position: relative;
  background-color: #000;
  background-position: center;
  background-size: cover;
  height: 15vw;
  overflow: hidden;
}

.pic-on {
  display: block;
  font: bold 17px/16px "Roboto", sans-serif;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-transform: uppercase;
}

.pic-on2 {
  display: block;
  font: bold 17px/16px "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: #f72210;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.pic-on-counter {
  display: block;
  font: bold 17px/16px "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.wrap {
  position: relative;
  min-height: 33px;
}

.cover-p {
  background-color: #f4f5f6;
  color: #000;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 10px 10px 12px;
  font: bold 18px/18px "Roboto", sans-serif;
  width: 100%;
  bottom: 0;
}

.in-the-magazine img {
  width: 100%;
}

.editors-pick img {
  width: 100%;
}
.news-us img {
  width: 100%;
}

.news-world img {
  width: 100%;
}

.news-business img {
  width: 100%;
}

.news-sub-article img {
  width: 100%;
}

.featured-stories img {
  width: 100%;
}

.middle-section img {
  width: 100%;
}

.sub-aricle-mid img {
  float: left;
  width: 135px;
  margin-right: 15px;
  clear: right;
}

.sub-aricle-mid div {
  list-style-type: none;
  font: 15px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: rgba(39, 39, 39, 0.5);
  margin-bottom: 10px;
}

.subscribe-section img {
  width: 100%;
}

.feateure-slideshows img:nth-child(1) {
  width: 100%;
}

.sub-aricle-mid {
  margin-bottom: 20px;
}

.sub-candt {
  margin-bottom: 30px;
}

.news-titl2 {
  font-size: 13px;
  font-weight: bold;
}

.sub-article-title {
  font-weight: bold;
}

.pic-on-blue {
  display: block;
  font: bold 17px/16px "Roboto", sans-serif;
  color: #3581f4;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-transform: uppercase;
}

.card-left {
  padding: 30px;
  border-left: solid 1px rgba(0, 0, 0, 0.2);
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.categorys {
  font: bold 16px/26px "Roboto", sans-serif;
  color: #f72210;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.categorys a {
  color: #f72210;
}

.red-category {
  padding: 3px 7px;
  background-color: #f72210;
  color: #fff;
  margin-right: 7px;
}

.article-title {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}

.news-title {
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.news-sec {
  color: #f72210;
}

.space {
  padding-bottom: 15px;
}

.summary {
  font-size: 14px;
}

.section-title {
  text-transform: uppercase;
  font: bold 19px/19px "Roboto Condensed", sans-serif;
}

.in-the-magazine,
.editors-pick,
.feateure-slideshows {
  margin-bottom: 30px;
}

.subscribe-section {
  padding: 40px;
  background: #f4f5f7;
}

.subscribe-title {
  font-size: 20px;
  padding-bottom: 8px;
  font-weight: bold;
  color: black;
}

.subscribe-text {
  font-size: 15px;
  padding-bottom: 8px;
}

.background1 {
  background: url("https://d.newsweek.com/en/full/1525348/newsletter-promo-home-page.png?w=397&h=265&q=90&f=172a044c08b5e64f42dcb61b425487bf");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.padding-newsletter {
  padding-top: 30px;
  margin-bottom: 30px;
}

.bottom-title {
  color: #f72210;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
}

.icon {
  font-size: 50px;
  color: grey;
}

.links-footer a {
  color: black;
  text-decoration: none;
  border-right: solid 1px grey;
  opacity: 0.7;
}

.lenguage a {
  color: black;
  text-decoration: none;
  border-right: solid 1px grey;
  opacity: 0.7;
}

.opinion {
  margin-bottom: 10px;
}

.opinion strong {
  font: bold 13px "Roboto Condensed", sans-serif;
}

.title-top {
  color: #03030366;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 11px;
  padding-top: 20px;
  text-transform: uppercase;
}

.candt {
  margin-bottom: 30px;
  margin-top: 20px;
  background: #f4f5f7;
}

.featured-stories {
  padding-bottom: 20px;
}

.candt h6 {
  font: 20px/22px "Lora", serif;
}

.candt span {
  background: #c2d4d7;
}

.candt div {
  list-style-type: none;
  font: 15px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: rgba(39, 39, 39, 0.5);
  margin-bottom: 10px;
}

.content-ct {
  padding-left: 5px;
}

footer {
  padding: 30px;
}
